#login {
  display: flex;
  justify-content: center;
  mat-card {
    margin: 250px 0px;
  }
  mat-card-content {
    mat-form-field.row {
      width: 100%;
      min-width: 250px;
    }
  }
  mat-card-footer {
    text-align: center;
    margin: auto;
  }
}



