<mat-toolbar class="header">
  <span class="app-name">Todo App</span>
  <button mat-icon-button [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()" >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </span>
</mat-menu>
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let tab of tabs"
     (click)="activeLink = tab.link"
     [active]="activeLink == tab.link"
     [routerLink]="tab.link"> {{tab.label}} </a>
</nav>
<div id="wrapper-content">
  <router-outlet></router-outlet>
</div>
