/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
}
.table-header, .table-filter {
  padding: 20px 10px;
}
table {
  td.actions {
    button, button:active, button:focus {
      border: none;
      background: none;
      outline: none;
      mat-icon {
        font-size: 18px;
        width: 20px;
        height: 20px;
      }
    }
  }
  td {
    .s-link {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
  }
}
.action-dialog {
  width: 600px;
  mat-form-field {
    width: 100%;
  }
}
.delete-dialog {
  width: 350px;
}
